{% extends 'layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <h4>Этот проект сделан для того, чтобы радовать глаз каждого футбольного фаната.</h4>
    </div>
{% endblock %}
