{% extends 'layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <h1>Football App</h1>
    </div>
    <div class="container">
        <p>Этот проект сделан для того, чтобы радовать глаз каждого футбольного фаната.</p>
    </div>
{% endblock %}
