{% extends 'layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <h1>Football App</h1>
    </div>
    <div class="container">
        <address>
            <strong>По вопросам размещения рекламы на нашем сайте, просьба обращаться на:</strong>
            <a href="mailto:advertising@sameddin.pro">advertising@sameddin.pro</a>
        </address>
    </div>
{% endblock %}
