{% extends 'layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <h4>По вопросам размещения рекламы на нашем сайте, просьба обращаться на advertising@sameddin.pro</h4>
    </div>
{% endblock %}
