{% extends 'layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <h1>Football App</h1>
    </div>
    <div class="container">
        <address>
            <strong>Football App</strong><br>
            Baku, Azerbaijan<br>
            {{ 'phone'|trans }} : (012) 345-67-89
        </address>
        <address>
            <strong>Если вы хотите работать с нами:</strong>
            <a href="mailto:jobs@sameddin.pro">jobs@sameddin.pro</a>
        </address>
    </div>
{% endblock %}
