security:
    encoders:
        AppBundle\Entity\User:
            algorithm: plaintext

    providers:
        doctrine:
            entity:
                class: AppBundle:User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~

            form_login:
                login_path: security.login
                check_path: security.login
                username_parameter: email
                password_parameter: password
                provider: doctrine
            logout:
                path:   /logout
                target: /
