{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>Football App</h1>

        <h3>Это новое футбольное приложение от создателя самого крутого в мире <a href="http://todo.sameddin.pro/">ToDo
                List</a></h3>
    </div>
{% endblock %}
