{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{{ 'date'|trans }}</th>
                <th>{{ 'goals'|trans }}</th>
            </tr>
        </thead>
        {% for match in matches %}
            <tr>
                <td>{{ match.date|date("d.m.Y | H:i") }}</td>
                <td>{{ match.goals|length }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
