{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h4>
            <p>Телефон: +994 (XXX) XXX-XX-XX</p>

            <p>E-mail: football@sameddin.pro</p>

            <p>Если вы хотите работать с нами: jobs@sameddin.pro</p>
        </h4>
    </div>
{% endblock %}
